h1, h2, h3, h4, p, td, input, select
{
  font-family: "Comic Sans MS",TSCu_Comic;
}

#inputArea
{
  border: solid 1px #85b1de;
  background-color: #d7e5f5;
  padding: 2px;
}

#inputArea input[type="text"], textarea
{
  border: solid 1px #85b1de;
  background-color: #ffffff;
  background-image: url( '../images/blue.png' );
  background-repeat: repeat-x;
  background-position: top;
  padding: 4px;
}

#inputArea input[type="text"]:focus, #inputArea textarea:focus
{
  background-image: none;
  background-color: #ffffff;
  border: solid 1px #33677f;
}

select
{
  background-color: #e6f1fd;
}

select.icon-menu option {
  background-repeat:no-repeat;
  background-position:center left;
  padding-left:20px;
}

table#rk {
  border-collapse:collapse;
  background:#EFF4FB url(../images/teaser.gif) repeat-x;
  border-left:1px solid #686868;
  border-right:1px solid #686868;
  font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
  color: #333;
}

td#rk, th#rk {
  padding:5px;
}

table#rk a:hover {
  border-bottom: 1px dashed #bbb;
}

thead#rk th, tfoot#rk th, tfoot#rk td {
  background:#333 url(../images/llsh.gif) repeat-x;
  color:#fff
}

tfoot#rk td {
  text-align:right
}

tbody#rk th, tbody#rk td {
  border-bottom: dotted 1px #333;
}

tbody#rk th {
  white-space: nowrap;
}

tbody#rk th a {
  color:#333;
}

.odd {}

tbody#rk tr:hover {
  background:#fafafa
}

a.bookmark {
  outline: #33677f dashed thin;
  background-color: #e6f1fd;
  padding-left: 3px;
  padding-right: 3px;
}

.thumbnail {
  max-width: 500px;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.666);
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  margin-top: 3%;
}

.lightbox:target {
  outline: none;
  display: block;
}
